* {
  background: #181a18;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  color: #9fbfd1;
}

strong {
  text-transform: uppercase;
}

.container {
  text-align: center;
  margin: 50px auto;
  width: 1100px;
}

.asideContainer {
  text-align: left;
  margin: auto;
}

aside {
  padding: 20px;
}

#gameDescription {
  float: left;
  width: 30%;
}
#nameInput {
  float: right;
  width: 30%;
}

#gameControls {
  float: left;
  width: 28%;
}
