* {
    background: #181a18;
    /* background: lightyellow; */
    /* font-family: "Fredoka One", sans-serif; */
    font-family: arial, sans-serif;
    /* color: #ffcb3e; */
    color: lightyellow;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 800px;
}

h1,
h2,
h3,
h4 {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    /* color: #f5e45f; */
}

.asideContainer {
    text-align: left;
    margin: auto;
}

#gameDescription {
    float: left;
    width: 45%;
    /* padding-right: 40px; */
}

#gameControls {
    float: right;
    width: 35%;
}